h1{
   font-size: 35px;
   color: blueviolet;
   background-color: black;

}
      p{
         background-color:burlywood;
         color:darkblue;
         font-size: 30px;
      }
 
      h2{ 
         background-color:bisque;
        font-style:oblique;
         color:brown;
 
      }